Assignment 1/*
.DS_Store
Assignment 2/*
Assignment 3/instances/*
Assignment 3/Example.txt
Assignment 3/*.pdf
CMPT827-1157-xinjingw
Assignment 3/Results
Assignment 3/Results.xlsx
Assignment 3/images/*
Assignment 3/*.tex
Assignment 4/*